.App {
  text-align: center;
}

.head{
  font-family: cursive;
  font-size: 30px;
}
.rec{
  border-style: double;
  border-width: 15px;
  width: 30%;
  margin: auto;
  border-color: red;
  background-color: rosybrown;
  }